body {
  padding: 50px;
}

.trigger {
  height: 150px;
  width: 150px;
  border: 10px solid #999;
  background-color: #ddd;
}

.box {
  display: inline-block;
  background-color: pink;
  width: 150px;
  height: 150px;
  transition: transform 300ms cubic-bezier(0, 0.5, 0.3, 1.8);
  pointer-events: none;
}

.trigger.clicked .box {
  transform: translate(150px, 50px) rotate(25deg);
}
